menu "M-Link Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the AP.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the AP.

    config ESP_MAX_STA_CONN
        int "Maximum STA connections"
        default 4
        help
            Maximum number of STA connections to the AP.

    config ESP_WIFI_AP_SSID_PREFIX
        string "SoftAP Mode SSID Prefix"
        default "m-link-"
        help
            SSID (network name) prefix when in SoftAP mode.

    config ESP_WIFI_AP_PASSWORD
        string "SoftAP Mode Password"
        default "m-link"
        help
            SSID (network name) prefix when in SoftAP mode.

    config ESP_MAXIMUM_RETRY
        int "Maximum Retry"
        default 5
        help
            Maximum number of retries when connecting to AP.

endmenu
