body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #BBB;
  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
  font-size: 2rem;
}
table {
  border-collapse: collapse;
}
table.filemanager {
  font-size: 1rem;
}
table.settings {
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}
input {
  font-size: 2rem;
}
.small {
  font-size: 1rem;
}
table.filemanager input {
  font-size: 1rem;
}
li.menu {
  list-style: none;
}
#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
#info a {
  color: #195905;
  text-decoration: none;
}
#info a:hover {
  text-decoration: underline;
}
#hamburger {
  position: absolute;
  top: 5;
  right: 16;
}
#container {
  width    : 100%;
  height    : 100%;
  overflow  : hidden;
  padding    : 0;
  margin    : 0;
  -webkit-user-select  : none;
  -moz-user-select  : none;
}
#panel {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  width    : 100%;
  height    : 100%;
  overflow  : hidden;
  padding    : 0;
  margin    : 0;
  -webkit-user-select  : none;
  -moz-user-select  : none;
}
#mixer-panel {
  width: 50%;
  height: 50%;
}
#editor-panel {
  position: absolute;
  width: 50%;
  height: 90%;
  top: 10%;
  left: 50%;
}
.mixer {
  width: 96px;
}
